@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@font-face {
  font-family: "Punk Nova Regular";
  src: url("./fonts/PunkNova.woff2") format("woff2");
}

body {
  background-color: #fff8f0;
}

.library {
  position: absolute;
  width: 384px;
  height: 255px;
  left: 120%;
  top: 45%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 146%;
/* or 146% */
}

.pf {
  position: absolute;
  width: 359px;
  height: 66px;
  left: 120%;
  top: 32%;
  
  font-family: Inria Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  /* identical to box height */
  
  text-align: center;  
}

.cts{
  position: absolute;
  width: 530px;
  height: 193px;
  left: -20%;
  top: 45%;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
}

.floor{
  position: absolute;
  width: 367px;
  height: 25px;
  left: 32%;
  top: 24.2%;
  
}

.floor1{
  position: absolute;
  width: 394px;
  height: 44px;
  left: 28.5%;
  top: 30.1%;
}

.floor2{
  position: absolute;
  width: 421px;
  height: 63px;
  left: 25%;
  top: 37.4%;
}

.floor3{
  position: absolute;
  width: 448px;
  height: 92px;
  left: 20%;
  top: 45%;
}

.floor4{
  position: absolute;
  width: 479px;
  height: 127px;
  left: 14.3%;
  top: 54.3%;
}

.floor5{
  position: absolute;
  width: 511px;
  height: 171px;
  left: 6%;
  top: 67%;
}

.image-container {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 720px;
  height: 1000px;
}

.pictureh:hover{
  opacity: 0;
}

@media only screen and (min-width: 1280px){
  
}