@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  background-color: #fff8f0;
}

.TLB {
  position: absolute;
  width: 251px;
  height: 263px;
  left: 17%;
  top: 20%;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 64px;
  text-align: center;

  color: #000000;
}

.JLB {
  position: absolute;
  width: 403px;
  height: 47px;
  left: 10%;
  top: 69%;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;

  color: #000000;
}

.image-container {
  position: absolute;
  top: 20%;
  left: 8%;
  width: 500px;
  height: 500px;
}
.victor {
  position: absolute;
  width: 423px;
  height: auto;
  right: 0;
  top: 0;
}
.cictor {
  position: absolute;
  width: 113px;
  height: 463px;
  right: 0;
  top: 5%;
}

.pic {
  position: absolute;
  width: 33.5%;
  height: 47%;
  left: 12.5%;
  top: 27%;
}

.Rec1 {
  position: absolute;
  width: 95%;
  height: 95%;
  left: 2%;
  top: 2%;

  border: 13px solid #cacede;
  box-sizing: border-box;
}

.V6 {
  position: absolute;
  width: 936px;
  height: auto;
  left: 78.5%;
  top: 84%;
}

.AL {
  position: absolute;
  width: 502px;
  height: 69px;
  left: 53%;
  top: 33%;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.paragraph {
  position: absolute;
  width: 530px;
  height: 193px;
  left: 53%;
  top: 40%;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #000000;
}
