@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  background-color: #fff8f0;
}

.FN {
  position: absolute;
  width: 539px;
  height: 105px;
  left: 15.3%;
  top: 25.8%;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 77px;
}

.para {
  position: absolute;
  width: 530px;
  height: 193px;
  left: 15.3%;
  top: 40%;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 32px;
}

.bf {
  position: absolute;
  width: 145px;
  height: 29px;
  left: 27.5%;
  top: 66.6%;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 24px;
  text-align: center;
}

.vector5 {
  position: absolute;
  width: 339.5px;
  height: 394.5px;
  left: 65%;
  top: 26.8%;
}

.move{
  width: 100%;
  height: 450px;
}

.one{
    position: absolute;
width: 49px;
height: 101px;
left: 82%;
top: 26%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;

}

.two{
    position: absolute;
    width: 49px;
    height: 101px;
    left: 87%;
    top: 45.4%;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 40px;
    
}

.three{
    position: absolute;
width: 49px;
height: 101px;
left: 82%;
top: 64.4%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

.flour{
    position: absolute;
width: 49px;
height: 101px;
left: 67%;
top: 64.4%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

.five{
    position: absolute;
    width: 49px;
    height: 101px;
    left: 61.5%;
    top: 45.4%;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 40px;
}

.six{
    position: absolute;
width: 49px;
height: 101px;
left: 67%;
top: 26%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

@media screen and (max-width: 1300px) {
  .vector5 {
    position: absolute;
    width: 339.5px;
    height: 394.5px;
    left: 65%;
    top: 26.8%;
  }

  .one{
    position: absolute;
width: 49px;
height: 101px;
left: 89%;
top: 26%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;

}

.two{
    position: absolute;
    width: 49px;
    height: 101px;
    left: 95%;
    top: 45.4%;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 40px;
    
}

.three{
    position: absolute;
width: 49px;
height: 101px;
left: 89%;
top: 64.4%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

.flour{
    position: absolute;
width: 49px;
height: 101px;
left: 67%;
top: 64.4%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

.five{
    position: absolute;
    width: 49px;
    height: 101px;
    left: 61.5%;
    top: 45.4%;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 40px;
}

.six{
    position: absolute;
width: 49px;
height: 101px;
left: 67%;
top: 26%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}
}
@media screen and (max-width: 414px){

  .move{
    width: 100%;
    height: 150px;
  }

  .vector5{
    position: absolute;
width: 45vw;
height: 25vh;
left: 31%;
top: 32.5%;
  }


.one{
  position: absolute;
left: 64%;
top: 36%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;

}

.two{
  position: absolute;
  width: 49px;
  height: 101px;
  left: 68%;
  top: 42%;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 40px;
  
}

.three{
  position: absolute;
width: 49px;
height: 101px;
left: 64%;
top: 48%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

.flour{
  position: absolute;
width: 49px;
height: 101px;
left: 35%;
top: 42%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

.five{
  position: absolute;
  width: 49px;
  height: 101px;
  left: 39%;
  top: 48%;
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 40px;
}

.six{
  position: absolute;
width: 49px;
height: 101px;
left: 39%;
top: 36%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 1.875rem;
line-height: 40px;
}

.FN{
  position: absolute;
left: 17%;
top: 18.9%;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
}

.para{
  opacity: 0%;
}

.bf{
  position: absolute;
width: 145px;
height: 29px;
left: 35%;
top: 75.6%;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;
}

}