body{
    background: #FFF8F0;
    margin-bottom: 20px;
}


.shelf{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book{
    width: 37px;
    height: 98px;
    margin-left: 20px;
    margin-bottom: 18px;
    margin-top: 40px;
}

.brownn1{
    background:#E7B28C;
}

.brown2{
    background: #D3A481;
}

.brown3{
    background: #B48B6F;
}

.brown4{
    background: #9D7961;
}

.brown5{
    background: #856752;
}

.brown6{
    background: #6B5342;
}

.pink1{
    background: #FFD3CB;
}

.pink2{
    background: #EDBFB7;
}

.pink3{
background: #C8A19B;
}

.pink4{
    background: #AB8883;
}

.pink5{
    background: #8E736E;
}

.pink6{
    background: #725955;
}

.green1{
    background: #ECF9D4;
}

.green2{
    background: #D4E0BD;
}

.green3{
    background: #B5BFA1;
}

.green4{
    background: #9DA68D;
}

.green5{
    background: #878E79;
}

.green6{
    background:#6E7463;
}

.blue1{
    background: #96C1FC;
}

.blue2{
    background: #78A5E2;
}

.blue3{
    background: #648ABD;
}

.blue4{
    background: #47648B;
}

.blue5{
    background: #344966;
}

.blue6{
    background: #27374D;
}

.purple1{
    background: #D6CFCB;
}

.purple2{
    background: #CCB7AE;
}

.purple3{
    background: #A6808C;
}

.purple4{
    background: #706677;
}

.purple5{
    background: #565264;
}

.purple6{
    background: #4A2545;
}

.grey1{
    background: #eff0ef;
}

.grey2{
    background: #E5E6E4;
}

.grey3{
    background: #CFD2CD;
}

.grey4{
    background: #A6A2A2;
}

.grey5{
    background: #998888;
}

.grey6{
     background: #847577;
}

.move:hover{
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    opacity: 50%;
}

@media screen and (max-width: 414px) {
   
    body{
        margin-bottom: 10px;
    }
   
    .shelf{
        top: 20%;
    }

    .book{
        width: 14px;
        height: 54px;
        margin-left: 1vw;
        margin-bottom: 3px;
        margin-top: 30px;
    }
}